<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img class="sidebar-logo" src="/images/Logo-horizontal-white.png" />
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/class">Class</a>
      </li>
      <li>
        <a href="/teacher">Teacher</a>
      </li>
      <li>
        <a href="/subject">Subject</a>
      </li>
      <li>
        <a href="/student">Student</a>
      </li>
      <li>
        <a class="approvals-page" href="/approvals">Approvals</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-nav">
      <ul
        class="nav justify-content-end bg-light toggle-float-left custom-nav-setting"
      >

        <li>
          <button
            href="#menu-toggle"
            class="btn btn-default"
            id="menu-toggle"
          >Toggle Menu</button>
        </li>
      </ul>
      <ul
        class="nav justify-content-end bg-light toggle-float-right custom-nav-setting"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <form action="/logout" method="post">
            <button class="btn btn-submit" type="submit" name="logout-submit">
              Logout
            </button>
          </form>
        </li>

        <li class="nav-item">
          <select class="selectpicker" data-width="fit">
            <option>EN</option>
            <option>NL</option>
          </select>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <!-- main section -->
    <div class="mid-section-container">
      <h5 class="userslist">List of Users</h5>
      <div class="userslist-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#staff}}
              <tr>
                <th class="tabe-number" scope="row">{{@index}}</th>
                <td class="tabe-number">{{this.name}}</td>
                <td class="tabe-number">{{this.email}}</td>
                <td class="tabe-number">{{this.role}}</td>
                <td class="tabe-number"><a
                    href="/approvals/{{this.id}}/edit"
                  >Edit</a></td>
                <td class="tabe-number"><a
                    href="/approvals/{{this.id}}/delete"
                  >Delete</a></td>
              </tr>
            {{/staff}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>